<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tesda</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/public/vendors/feather/feather.css">
  <link rel="stylesheet" href="/public/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/public/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/public/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/public/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <style>
    .required::after {
    content: ' *';
    color: red;
  }
  </style>
</head>