<div class="row">
  <div class="col-md-12 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Your Request Today’s</p>
            <p class="fs-30 mb-2"><%= userFormRequestsToday.length %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Your Total Request</p>
            <p class="fs-30 mb-2"><%= userFormRequests.length %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>